* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;


}

header {
    background-color: #FFFFFF;
    padding: 16px;
}

nav {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.swap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    list-style: none;


}

.swap li a {
    text-decoration: none;
}

.btn button {

    display: flex;
    justify-content: center;
    padding: 16px 12px;
    background-color: #469165;
    margin: 24px;
    color: #FFFFFF;
    border: none;

}


#banner {
    position: relative;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 800px;
}

.hello {
    font-size: 16px;
    color: #469165;
}

#banner h1 {
    font-style: Bold;
    font-size: 72px;
    text-align: center;
    text-transform: capitalize;
}

#banner p {
    font-style: Regular;
    font-size: 18px;
    text-align: center;
}

.btn1 {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #469165;
    padding: 16px 12px;
    gap: 10px;
}

.btn-2 {
    font-size: 16px;
    color: #FFFFFF;

    padding: 16px 12px;
    gap: 10px;
    width: 198px;
    height: 52px;
    background: none;
}

.student h1 {
    font-size: 48px;
    color: #001931;
    text-align: center;
    font-style: bold;
}

.student p {
    font-size: 16px;
    color: #627382;
    text-align: center;

}
.std{
    padding: 50px;
}


#Notes{
    padding-top: 50px;
}
#Notes .Notes-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
 

#Notes .Notes-container .Notes-box {
    display: flex;
    gap: 24px;
}
.Notes-box .Notes-card {
    padding: 24px;
    border: 1px solid;
    max-width: 322px;
    box-shadow: 0 6px 8px 0 #000000;
}

.Notes-card img {
    max-width: 60px;
    margin-bottom: 16px;
    color: white;
    background-color: red;
}
.Notes-card h3 {
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}
.Notes-card p {
     font-size: 16px;
    line-height: 20px;
}
.name h5{
    font-size: 16px;
    color: #469165;
}
.name h2{
    font-size: 48px;
    color: #001931;
}
.name p{
    font-size: 16px;
    color: #627382;
}
.names{
    width: 700px;
height: 229px;


flex-direction: column;


gap: 16;

}
#brain{
    /* border: 1px solid red; */
    margin: 120px;
    display: flex;
}
#brain .brain-content{
    display: flex;
    width: 85%;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;

}
#brain .brain-content,.brain-heading{
    padding-right: px;
}
#brain .brain-content h3 {
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
}
#brain .brain-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#brain.brain-content p {
    font-size: 16px;
    color:#627382 ;
    margin-bottom: 40px;
}
#brain .brain-content ul li {
    font-size: 16px;
    color: #627382;
}